---
# layout for home page
# currently simply shows a paginated listing of posts
layout: default
---
 <div class="circular--portrait">
  <img src="https://instagram.fvga2-1.fna.fbcdn.net/v/t51.2885-19/s150x150/181308298_243024120909952_8811067983809064086_n.jpg?tp=1&_nc_ht=instagram.fvga2-1.fna.fbcdn.net&_nc_ohc=QidMbL0i82IAX8hVA_b&edm=ABfd0MgBAAAA&ccb=7-4&oh=371d30775b9016b71602beedb3fa7358&oe=60C8CAF6&_nc_sid=7bff83" />
</div>
{% include jumbotron.html title=site.title lead="Hit the button below to know about me" btn-text="Hit Me!!" btn-link="about/" %} 